html, body            { font-family: sans-serif; background: white; }
a, h3, h4       { color: #377ba8; }
h3, h4          { font-family: 'Georgia', serif; margin: 0; }
h3              { border-bottom: 2px solid #eee; color: green; }
h4              { font-size: 1.2em; }
