{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Hours:
        <dd><input type=text name=hours>
        <dt>Day:
        <dd><input type=date name=day>
        <dt>Comment:
        <dd><input type=text name=comment>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
    {% for entry in entries %}
    <li>{{ entry.hours }} {{ entry.day }} {{ entry.comment|safe }}
  {% else %}
    <li>No entries yet!
  {% endfor %}
  </ul>
{% endblock %}